<table class="table" *ngIf="(productList | async ) as productData">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Product Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productData">
      <td>{{ item._id }}</td>
      <td>{{ item.productName }}</td>
      <td>{{ item.productPrice }}</td>
      <td>{{ item.productDescription }}</td>
    </tr>
  </tbody>
</table>
