<div class="container-fluid px-5 py-5">
  <form [formGroup]="productForm">
    <div class="mb-3">
      <label class="form-label">Product Name</label>
      <input type="text" class="form-control" formControlName="productName" />
      <div class="text-danger" *ngIf="pName && pName.touched && pName.invalid">
        <div *ngIf="pName.errors.required">Product Name is must be required</div>
        <div *ngIf="pName.errors.minLength">Product Name entre must be valid</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Product Price</label>
      <input type="text" class="form-control" formControlName="productPrice" />
      <div class="text-danger" *ngIf="pPrice && pPrice.touched && pPrice.invalid">
        <div *ngIf="pPrice.errors.required">Product Price is must be required</div>
        <div *ngIf="pPrice.errors.minLength">Product Price entre must be valid</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Product Description</label>
      <textarea
        type="text"
        class="form-control"
        formControlName="productDescription"
      ></textarea>
      <div class="text-danger" *ngIf="Pdescription && Pdescription.touched && Pdescription.invalid">
        <div *ngIf="Pdescription.errors.required">Product Description is must be required</div>
        <div *ngIf="Pdescription.errors.minLength">Product Description entre must be valid</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="addProduct()">
      Submit
    </button>
  </form>
  <div class="py-3">
    <button class="btn btn-primary" routerLink="user">show list</button>
  </div>
</div>
